<%= require('../partials/header.ejs')() %>

<main id="main" class="container"></main>

<%= require('../partials/modal.ejs')() %>
<%= require('../partials/clearBasketModal.ejs')() %>
<%= require('../partials/footer.ejs')() %>